/*
Error: Invalid CSS after "  }": expected "}", was ""
        on line 49 of layout/blog.scss
        from line 10 of estilos.scss

44:     height: 1.7em;
45:     display: block;
46:     &:hover {
47:       text-decoration: underline;
48:     }
49:   }

Backtrace:
layout/blog.scss:49
estilos.scss:10
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/scss/parser.rb:1278:in `expected'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/scss/parser.rb:1208:in `expected'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/scss/parser.rb:1203:in `tok!'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/scss/parser.rb:679:in `block'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/scss/parser.rb:670:in `ruleset'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/scss/parser.rb:696:in `block_child'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/scss/parser.rb:689:in `block_contents'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/scss/parser.rb:137:in `stylesheet'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/scss/parser.rb:41:in `parse'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/engine.rb:414:in `_to_tree'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/engine.rb:321:in `to_tree'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:327:in `block in visit_import'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/stack.rb:88:in `block in with_import'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/stack.rb:135:in `with_frame'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/stack.rb:88:in `with_import'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:326:in `visit_import'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:162:in `block in visit'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/stack.rb:79:in `block in with_base'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/stack.rb:135:in `with_frame'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/stack.rb:79:in `with_base'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:162:in `visit'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:171:in `block in visit_children'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:183:in `with_environment'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:170:in `visit_children'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:190:in `visit_root'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:161:in `visit'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/tree/visitors/perform.rb:10:in `visit'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:462:in `update_stylesheet'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:209:in `each'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:443:in `on_file_changed'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-3.5.1/lib/sass/plugin/compiler.rb:320:in `block in watch'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-listen-4.0.0/lib/sass-listen/event/config.rb:23:in `call'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:115:in `_process_changes'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:19:in `block in loop_for'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-listen-4.0.0/lib/sass-listen/event/processor.rb:15:in `loop_for'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:84:in `_wait_for_changes'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-listen-4.0.0/lib/sass-listen/event/loop.rb:42:in `block in setup'
/Users/lucasmendes/.rvm/gems/ruby-2.4.1/gems/sass-listen-4.0.0/lib/sass-listen/internals/thread_pool.rb:6:in `block in add'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"  }\": expected \"}\", was \"\"\A         on line 49 of layout/blog.scss\A         from line 10 of estilos.scss\A \A 44:     height: 1.7em;\A 45:     display: block;\A 46:     &:hover {\A 47:       text-decoration: underline;\A 48:     }\A 49:   }"; }
